.App {
  display: flex;
  justify-content: center;
}

body{
  background-color: #373731;
}

.Title {
  display: flex;
  height : 200px;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  width: 100%;
}

.Title input{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #CFCF24;
  font-size: 18px;
  text-align: center;
}

.Title button{
  width: 130px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  color: #CFCF24;
  background-color: #373731;

}

.Title button:hover{
  cursor: pointer;
}